body{
	background: #102a54;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
h1{
	font-size: 200%;
	color: #fff;
	margin-left: 80px;
}

#clock span{
	text-align: center;
	float: left;
	font-size: 100%;
	color: #fff;
	

}

#units span{
	text-align: center;
	float: left;
	font-size: 100%;
	color: #fff;
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;

}
#clock span:nth-child(1){
	position: fixed;
	right: 75%;
	top: 20%;
}
#clock span:nth-child(2){
	position: fixed;
	right: 55%;
	top:20%;
}
#clock span:nth-child(3){
	position: fixed;
	right: 35%;
	top:20%;
}
#clock span:nth-child(4){
	position: fixed;
	right: 15%;
	top:20%;
}

#units span:nth-child(1){
	background: #444;
	position: fixed;
	right: 75%;
	top: 30%;
}
#units span:nth-child(2){
	background: #555;
	position: fixed;
	right: 55%;
	top:30%;
}
#units span:nth-child(3){
	background: #666;
	position: fixed;
	right: 35%;
	top:30%;
}
#units span:nth-child(4){
	background: #777;
	position: fixed;
	right: 15%;
	top:30%;
}